!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>switchr</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../Assets/css/style.css"  type="text/css" />
</head>
<body>
<div id="header">
  <div id="widgparty">
    <p>switch <a href="#">r</a></p>
  </div>
</div>
<div id="content">
  <div id="menu">
    <ul>
      <li class="selected"><a href="#">Home</a></li>
      <li><a href="#">Tab#1</a></li>
      <li><a href="#">Tab#2</a></li>
      <li><a href="#">Tab#3</a></li>
      <li><a href="#">Tab#4</a></li>
      <li></li>
    </ul>
  </div>
  <div id="ajaxcontentarea">
    <h2>Hello world!</h2>
    <p>i'm switchr, a personal project of dinamoo.</p>
    <h4>How to make content?</h4>
    <ul>
      <li>--&gt; Open your favorite website editor</li>
      <li>--&gt; Click on &quot; index.html&quot;</li>
      <li>--&gt; Make text, add photos, be free!</li>
    </ul>
    <h4>And for the images? </h4>
    <p>i put &quot; border:none&quot; and a CSS3 effect ( opacity ) on the image. </p>
    <p>Enjoy yourself! </p>
  </div>
  <script type="text/javascript">
//Start Ajax tabs script for UL with id="maintab" Separate multiple ids each with a comma.
startajaxtabs("maintab")
</script>
  <div id="right">
    <h2>C'est quoi? </h2>
    <p>C'est un kit graphique by dinamoo...</p>
    <h2>C'est combien? </h2>
    <p>Completement gratuit.</p>
    <h2>nice? </h2>
    <p>Enjoy</p>
    <p> i'm free like wind :D. Please contact if you got problems;). </p>
  </div>
</div>
<div id="smallr">
  <div id="column">
    <dl id="tempa">
      <dt>Column#1</dt>
      <dd>Lorem ipsum dolor sit amet</dd>
      <dd>consectetuer adipiscing elit.</dd>
    </dl>
    <dl id="tempb">
      <dt>Column#2</dt>
      <dd>Lorem ipsum dolor sit amet</dd>
      <dd>consectetuer adipiscing elit. </dd>
    </dl>
    <dl id="tempc">
      <dt>Column#3</dt>
      <dd>Lorem ipsum dolor sit amet</dd>
      <dd>consectetuer adipiscing elit.</dd>
    </dl>
  </div>
</div>
<div id="footr">
  <p>Copyright &copy; 2006 YOUR SITE NAME.by <a href="http://dinamoo.com/">dinamoo</a></p>
</div>
</body>
</html>
