<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Pneuma</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../Assets/css/style.css"  type="text/css" />
</head>
<body>
<div id="header">
  <div id="widgparty">
    <p>Pneuma <a href="#">Home</a></p>
  </div>
</div>
<div id="content">
  <div id="menu">
    <ul>
      <li class="selected"><a href="#">Home</a></li>
      <li><a href="#">Search</a></li>
      <li><a href="#">Post</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Tab#4</a></li>
      <li></li>
    </ul>
  </div>
  <div id="ajaxcontentarea">
    <h2>Pneuma Job Listing Portal</h2>
    <p>Your trusted portal with +1000 New jobs Everyday</p>
    <h4>How Pneuma Works?</h4>
    <ul>
      <li>--&gt; Add Your Name, email and your Job Key Word</li>
      <li>--&gt; Click on &quot; Add me to the list&quot;</li>
      <li>--&gt; When we find a match for you, We'll send you an emal!</li>
    </ul>
    <h4>And for the images? </h4>
    <p>i put &quot; border:none&quot; and a CSS3 effect ( opacity ) on the image. </p>
    <p>Enjoy yourself! </p>
  </div>
  <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Key Word</th>
                <th>Apply</th>
            </tr>
        </thead>
        <tbody>
            <!--  call mondodbAtlas called REST/ bookschema
                "ejs tags that allow for you to embed a Javascript expression whose evaluation (return value) will be added to the template when compiled"
                the understanding code has been sourced from Availability: https://ejs.co/#docs . -->
            <% partsbooks.forEach(part => { %><!--Used to output the return value of an expression into the document-->
            <tr>
                
                <td> <%= part.item %> </td>
                <td> <%= part.price %> </td>
                <td>  <%= part.name %>  </td>
    
                <td>
                    <!--   Calling my api/routes/bookarts/EDIT BACKEND via put. -->
                
                      <a href="/bookarts/edit/<%= part.id %>"  >
                    <button class="btn btn-warning" style="margin-left: 5px;" type="submit"><i class="fa fa-pencil"  style="font-size: 15px;">edit
                    </i></button>
                </a>
                <!--the following code  has been sourced from title: How To Build A Markdown Blog Using Node.js, Express, And MongoDB 
                    Author: Web Dev Simplified Availability: https://www.youtube.com/watch?v=1NrHkjlWVhM-->
                    <!--   Calling my api/routes/bookarts/DELETE BACKEND via post. -->
                    <form action="/bookarts/<%= part.id %>?_omethod=DELETE" method="POST" class="d-inline"  >
                    <button type="submit" class="btn btn-danger" style="margin-left: 5px;" style="font-size: 15px;">delete
                    </button>
                   </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

</div>
</div>
  <script type="text/javascript">
//Start Ajax tabs script for UL with id="maintab" Separate multiple ids each with a comma.
startajaxtabs("maintab")
</script>
  <div id="right">
    <h2>C'est quoi? </h2>
    <p>C'est un kit graphique by dinamoo...</p>
    <h2>C'est combien? </h2>
    <p>Completement gratuit.</p>
    <h2>nice? </h2>
    <p>Enjoy</p>
    <p> i'm free like wind :D. Please contact if you got problems;). </p>
  </div>
</div>
<div id="smallr">
  <div id="column">
    <dl id="tempa">
      <dt>Column#1</dt>
      <dd>Lorem ipsum dolor sit amet</dd>
      <dd>consectetuer adipiscing elit.</dd>
    </dl>
    <dl id="tempb">
      <dt>Column#2</dt>
      <dd>Lorem ipsum dolor sit amet</dd>
      <dd>consectetuer adipiscing elit. </dd>
    </dl>
    <dl id="tempc">
      <dt>Column#3</dt>
      <dd>Lorem ipsum dolor sit amet</dd>
      <dd>consectetuer adipiscing elit.</dd>
    </dl>
  </div>
</div>
<div id="footr">
  <p>Copyright &copy; 2006 YOUR SITE NAME.by <a href="http://dinamoo.com/">dinamoo</a></p>
</div>
</body>
</html>
